@import "../variables";
.recruitment-post {
  padding: $spacing-xl 0;

  .post-main {
    @include container;
    display: flex;
    flex-direction: column;
  }
  .post-head {
    border-bottom: 1px solid #b8b3b3;
    border-top: 1px solid #b8b3b3;
    background-color: #f9f9f9;

    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    // width: 100%;

    div {
      // border-right: 1px solid gray;
      padding: 10px 0;
      text-align: center;
    }
    .number {
      width: 10%;
      p {
        border-right: 1px solid #b8b3b3;
      }
    }
    .title {
      width: 60%;
      p {
        border-right: 1px solid #b8b3b3;
      }
    }
    .name {
      width: 10%;
      p {
        border-right: 1px solid #b8b3b3;
      }
    }
    .date {
      width: 10%;
      p {
        border-right: 1px solid #b8b3b3;
      }
    }
    .check {
      width: 10%;
    }
  }
  .post-center {
    display: flex;
    padding: 25px 0;
    text-align: center;
    // border: 1px solid gray;
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #b8b3b3;

    .post-number {
      width: 10%;
    }
    .post-title {
      width: 60%;
    }
    .post-name {
      width: 10%;
    }
    .post-date {
      width: 10%;
    }
    .post-check {
      width: 10%;
    }
  }
}
