@import "../variables";

.recruitment-talent {
  padding: $spacing-xl 0;

  .talent-header {
    text-align: center;
    margin-bottom: $spacing-xl;

    h1 {
      font-size: $font-size-h1;
      color: $primary-color;
      margin-bottom: $spacing-base;
    }
    margin: 0;
    p {
      font-size: $font-size-large;
      color: $text-light;
      margin-bottom: 100px;
    }
  }

  .talent-content {
    @include container;
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $spacing-xl;
    // padding: 0 $spacing-base;

    .talent-title {
      p {
        font-size: $font-size-large;
        color: $gray;
        margin: 0;
        padding: 5px 0;
        text-align: start;
      }
    }
    .talent-button {
      button {
        padding: 8px;
      }
    }
    .talent-img {
      img {
        width: 500px;
      }
    }
  }
}

@include mobile {
  .recruitment-talent {
    .talent-content {
      grid-template-columns: 1fr;
    }
  }
}
